.container{
    background: #fff;
    width: 40%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--primary);
}

.title{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--text);
}

.form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.inputText{
    display: block;
    width: 80%;
    margin: 0 auto;
    border: none;
    padding: 0.5rem 0.15rem;
    border-bottom: 1px solid var(--primary);
    color:  var(--text);
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.inputText::placeholder{
    color: var(--light);
    font-weight: normal;
}

.inputText:focus{
    outline: none;
    border-width: 3px;
}

.submitButton{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0.65rem 1.8rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--secondary);
    margin-bottom: 2rem;
    background-color: var(--primary);
    color: white;
    transition: all .3s ease;
}

.submitButton:hover{
    cursor: pointer;
    color: #fff;
    background-color: var(--secondary);
}

.submitButton:focus{
    outline: none;
}

.disabledButton{
    color: #fff;
    background-color: var(--secondary);
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0.65rem 1.8rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px var(--gray) solid;
    transition: all .3s ease;
    margin-bottom: 2rem;
}

.disabledButton:hover{
    cursor: not-allowed;
}

.disabledButton:focus{
    outline: none;
}

.errorMessage{
    width: 80%;
    margin: 0 auto;
}

.inputError{
    border-color: var(--error);
    border-width: 3px;
}