.wrapper{
    display: grid;
    background: #fff;
    width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 1px solid var(--light);
    border-left: 1px solid var(--light);
}

.container{
    margin-top: 5rem;
    display: flex;    
}

.body{
    width: 500px;
    height: 250px;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0.5rem;
    color: var(--text);
    background-color: var(--background);
    border: 1px solid var(--light);
    border-radius: 0.25rem;
}

.title{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: var(--gray);
}

.name{
    display: block;
    width: 80%;
    margin: 0 auto;
    border: none;
    padding: 0.5rem 0.15rem;
    border-bottom: 1px solid var(--primary);
    color:  var(--gray);
    font-size: 1.3rem;
}

.name::placeholder{
    color: var(--light);
    font-weight: normal;
}

.name:focus{
    outline: none;
    border-width: 3px;
}

.submitButton{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: var(--primary);
    color: #fff;
    padding: 0.65rem 1.8rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px var(--light) solid;
    transition: all .3s ease;
}


.submitButton:hover{
    cursor: pointer;
    color: #fff;
    background-color: var(--secondary);
}

.submitButton:focus{
    outline: none;
}

.disabledButton{
    color: #fff;
    background-color: var(--secondary);
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0.65rem 1.8rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px var(--gray) solid;
    transition: all .3s ease;
    margin-bottom: 2rem;
}

.disabledButton:hover{
    cursor: not-allowed;
}

.disabledButton:focus{
    outline: none;
}

.errorMessage{
    width: 80%;
    margin: 0 auto;
}